{% extends './base.html'%}
{% load i18n bootstrap4 html navigation %}

{% block body_class %}groups{% endblock %}

{% block content %}{% newlineless %}{% spaceless %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'textrank:index' %}">TextRank</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Группы' %}</li>
    </ol>
</nav>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
{% if instance %}
    <h1 class="h2">{% trans 'Группа' %} #{{ instance.id }}</h1>
{% else %}
    <h1 class="h2">{% trans 'Группы' %}</h1>
{% endif %}
    <div class="btn-toolbar mb-2 mb-md-0">
    {% if instance %}
        <div class="btn-group">
            <a href="{% url 'textrank:groups' %}" class="btn btn-sm btn-outline-secondary">
                <span class="ml-1">{% trans 'Список групп' %}</span>
            </a>
        </div>
    {% else %}
        {% url 'textrank:groups' as path %}
        <div class="btn-group mr-2">{% include './_search_form.html' %}</div>
        <div class="btn-group">
            <a href="#form" class="btn btn-sm btn-outline-secondary">
                <span class="fa fa-plus"></span>
                <span class="ml-1">{% trans 'добавить' %}</span>
            </a>
            {% include './_is_active_button.html' with path=path %}
        </div>
        <div class="dropdown mr-0">
            <button type="button" id="dropdownMenuOrdering" data-toggle="dropdown" \
                aria-haspopup="true" aria-expanded="false" \
                class="btn btn-sm btn-outline-secondary ml-2 dropdown-toggle \
                {% if orders %}active{% endif %}">
                <span class="fa fa-sort"></span>
                <span class="ml-1">{% trans 'сортировка' %}</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuOrdering">
                <a href="{{ path }}{% delparams request 'o' %}" \
                    class="dropdown-item {% if not orders %}active{% endif %}"> \
                    name \
                </a>
                <a href="{{ path }}{% addparams request o='-name' %}" \
                    class="dropdown-item {% if orders_string == '-name' %}active{% endif %}"> \
                    -name \
                </a>
                <a href="{{ path }}{% addparams request o='is_active,name' %}" \
                    class="dropdown-item {% if orders_string == 'is_active,name' %}active{% endif %}"> \
                    is_active,name \
                </a>
                <a href="{{ path }}{% addparams request o='-is_active,name' %}" \
                    class="dropdown-item {% if orders_string == '-is_active,name' %}active{% endif %}"> \
                    -is_active,name \
                </a>
                <a href="{{ path }}{% addparams request o='updated' %}" \
                    class="dropdown-item {% if orders_string == 'updated' %}active{% endif %}"> \
                    updated \
                </a>
                <a href="{{ path }}{% addparams request o='-updated' %}" \
                    class="dropdown-item {% if orders_string == '-updated' %}active{% endif %}"> \
                    -updated \
                </a>
                <a href="{{ path }}{% addparams request o='created' %}" \
                    class="dropdown-item {% if orders_string == 'created' %}active{% endif %}"> \
                    created \
                </a>
                <a href="{{ path }}{% addparams request o='-created' %}" \
                    class="dropdown-item {% if orders_string == '-created' %}active{% endif %}"> \
                    -created \
                </a>
                <a href="{{ path }}{% addparams request o='last_editor__username' %}" \
                    class="dropdown-item {% if orders_string == 'last_editor__username' %}active{% endif %}"> \
                    last_editor__username \
                </a>
                <a href="{{ path }}{% addparams request o='-last_editor__username' %}" \
                    class="dropdown-item {% if orders_string == '-last_editor__username' %}active{% endif %}"> \
                    -last_editor__username \
                </a>
                <a href="{{ path }}{% addparams request o='id' %}" \
                    class="dropdown-item {% if orders_string == 'id' %}active{% endif %}"> \
                    id \
                </a>
                <a href="{{ path }}{% addparams request o='-id' %}" \
                    class="dropdown-item {% if orders_string == '-id' %}active{% endif %}"> \
                    -id \
                </a>
            </div>
        </div>
    {% endif %}
    </div>
</div>

{% if not instance %}
<div class="table-responsive">
    <table class="table table-striped table-sm mb-3">
        <thead class="bg-dark text-white">
            <tr>
                <th>{% trans 'Название' %}</th>
                <th>{% trans 'Код' %}</th>
                <th>{% trans 'Раздел' %}</th>
                <th class="text-right">{% trans 'Слов' %}</th>
                <th>{% trans 'Активна' %}</th>
                <th>{% trans 'Создана' %}</th>
                <th>{% trans 'Обновлена' %}</th>
                <th>{% trans 'Редактор' %}</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
        {% url 'textrank:keywords' as keywords_url %}
        {% for group in page.object_list %}
            <tr>
                <td>
                    <a class="text-body" href="{% url 'textrank:group' id=group.id %}">{{ group.name }}</a>
                {% if group.description %}
                    <span class="fa fa-question-circle-o ml-1 text-muted" title="{{ group.get_description }}"></span>
                {% endif %}
                </td>
                <td><small class="text-monospace">{{ group.code }}</small></td>
                <td><small class="text-monospace">{{ group.topic|default:'---' }}</small></td>
                <td class="text-right"><a href="{{ keywords_url }}?groups={{ group.id }}" class="text-body">{{ group.keywords_count }}</a></td>
                <td>
                {% if group.is_active %}
                    <span class="fa fa-check"></span>
                {% endif %}
                </td>
                <td class="text-nowrap isoformat">{{ group.created.isoformat }}</td>
                <td class="text-nowrap isoformat">{{ group.updated.isoformat }}</td>
                <td>{{ group.last_editor|default:'---' }}</td>
                <td>{{ group.id }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="8">{% trans 'Не найдено ни одной записи.' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    {% if page.object_list %}
        <tfoot>
            <tr>
                <td colspan="8" class="pr-0">{% include './_table_pagination.html' %}</td>
            </tr>
        </tfoot>
    {% endif %}
    </table>
</div>
<h2 class="h3">{% trans 'Добавить новую группу' %}</h2>
{% endif %}

{% if instance %}
<p>
    <span class="badge badge-pill badge-dark m-1">{% trans 'ID' %}: {{ instance.id }}</span>
    <span class="badge badge-pill badge-secondary m-1">{% trans 'создана' %}: <span class="isoformat">{{ instance.created.isoformat }}</span></span>
    <span class="badge badge-pill badge-warning m-1">{% trans 'обновлена' %}: <span class="isoformat">{{ instance.updated.isoformat }}</span> {{ instance.last_editor }}</span>
    <span class="badge badge-pill badge-info m-1">{% trans 'всего слов' %}: {{ instance.get_all_keywords.count }}</span>
    <span class="badge badge-pill badge-success m-1">{% trans 'активных слов' %}: {{ instance.get_active_keywords.count }}</span>
    <span class="badge badge-pill badge-danger m-1">{% trans 'неактивных слов' %}: {{ instance.get_inactive_keywords.count }}</span>
</p>
{% endif %}

<form id="form" class="form bg-light p-2 mb-4" role="form" method="post" enctype="multipart/form-data">
    <input type="hidden" name="next" value="{{ next|escape }}" />
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    <div class="row">
        <div class="col-md-6">
            {{ form.name|form_group }}
            {{ form.code|form_group }}
            {{ form.topic|form_group }}
            {{ form.is_active|form_group }}
        </div>
        <div class="col-md-6">{{ form.description|form_group }}</div>
    </div>
    <button type="submit" class="btn btn-dark">
        <i class="fa fa-save" aria-hidden="true"></i> \
        {% trans 'Сохранить' %} \
    </button>
</form>

{% if instance %}
<h2 id="weights" class="h3">{% trans 'Таблица весов' %}</h2>
<div class="table-responsive">
    <table class="table table-bordered table-sm mb-3">
        <thead class="bg-dark text-white">
            <tr>
                <th>{% trans 'Слово или сочетание' %}</th>
                <th style="width: 1px;">{% trans 'Вес' %}</th>
                <th style="width: 1px;">{% trans 'Активен' %}</th>
                <th>{% trans 'Обновлён' %}</th>
                <th>{% trans 'Редактор' %}</th>
            </tr>
        </thead>
        <tbody>
        {% url 'textrank:add_weight' as add_weight_url %}
        {% for weight in instance.get_all_weights %}
            <tr>
                <td class="align-middle">
                    <a href="{% url 'textrank:keyword' id=weight.keyword_id %}" class="text-body">{{ weight.keyword }}</a>
                </td>
                <td class="align-middle">
                    <form class="form-inline" method="post" action="{% if weight %}{% url 'textrank:change_weight' id=weight.id %}{% else %}{{ add_weight_url }}{% endif %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}#weights">
                        <input type="hidden" name="group" value="{{ instance.id }}">
                        <input type="hidden" name="keyword" value="{{ weight.keyword.id }}">
                        <div class="input-group input-group-sm mb-0">
                            <input type="number" \
                                min="0" max="32767" required name="value"
                                class="form-control save-weight" \
                                data-saveid="{{ weight.keyword.id }}" \
                            {% if weight %}
                                data-initial="{{ weight.value }}" \
                                value="{{ weight.value }}" \
                            {% endif %}
                                aria-describedby="button-{{ weight.keyword.id }}">
                            <div class="input-group-append">
                                <button id="button-{{ weight.keyword.id }}" \
                                    class="btn btn-outline-secondary save-weight save-weight-{{ weight.keyword.id }}" \
                                    type="submit" disabled>
                                    <i class="fa fa-save"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </td>
            {% if weight %}
                <td class="text-center align-middle">
                    <span class="fa fa-{{ weight.is_active|yesno:'check,ban' }}"></span>
                </td>
                <td class="isoformat align-middle">{{ weight.updated.isoformat }}</td>
                <td class="align-middle">{{ weight.last_editor}}</td>
            {% else %}
                <td></td>
                <td></td>
                <td></td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<a href="{% url 'textrank:index' %}?groups={{ instance.name }}" class="btn btn-outline-secondary mb-5">
    <span>{% trans 'Добавить слова' %}</span>
</a>
{% endif %}

{% endspaceless %}{% endnewlineless %}{% endblock %}

{% block javascript_page %}{% newlineless_javascript %}
<script type="text/javascript">
function activateButton(e) {
    var el = $(this),
        access = (el.data('initial') || '') != el.val();
    $('button.save-weight-' + el.data('saveid'))
        .toggleClass('active', access)
        .prop('disabled', !access)
}

$(document).ready(function($) {
    var language = $('html').attr('lang') || 'ru';
    moment.updateLocale(language, {});
    // Перерисовываем ISO дату по локальному времени юзера.
    $('.isoformat').each(function(i, el) {
        var $el = $(el);
        $el.text(moment($el.text()).format('L LT'));
    });
{% if user.is_authenticated %}
    $('body')
        .on('keyup', '.save-weight', activateButton)
        .on('change', '.save-weight', activateButton)
    ;
{% endif %}
{% if DEMO_MODE and not user.is_authenticated %}
    $('#form').on('submit', function(e) {
        e.preventDefault();
        alert("{% trans 'Это демо-режим, авторизуйтесь, чтобы изменять данные.' %}")
    });
{% endif %}
})
</script>
{% endnewlineless_javascript %}{% endblock %}
